<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cobrosydeudas" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_update"
        android:label="Cobros y Deudas"
        android:roundIcon="@mipmap/ic_iconodos_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cobrosydeudas"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".DarPermiso" />
        <activity
            android:name=".Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Todos"
            android:label="COBROS Y DEUDAS" >
            <intent-filter>
                <action android:name="android.intent.action.Todos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetallesCobro"
            android:label="DETALLES DEL COBRO"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.DetallesCobro" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoloDeudas"
            android:label="SOLO DEUDAS"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.SoloDeudas" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Papelera"
            android:label="PAPELERA"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.Papelera" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoloCobros"
            android:label="SOLO COBROS"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.SoloCobros" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Importar_exportar"
            android:label="IMPORTAR/EXPORTAR"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.Configuraciones" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AcercadelaApp"
            android:label="ACERCA DE LA APLICACIÓN"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.AcercadelaApp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Datos"
            android:label="DATOS"
            android:parentActivityName=".Todos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Todos" />

            <intent-filter>
                <action android:name="android.intent.action.Datos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>


</manifest>